<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://rich-pink-termite-wear.cyclic.app/css/main.css">
    <title>Ahmed Alhamrany's Blog</title>
</head>
<body>
     <header>
    <nav>
    <span>WEB322 - Ahmed Alhamrany</span>
    {{#navLink "/blog"}}Blog{{/navLink}}
    {{#navLink "/about"}}About{{/navLink}}
    {{#navLink "/posts"}}Posts{{/navLink}}
    {{#navLink "/categories"}}Categories{{/navLink}}
    {{#navLink "/posts/add"}}Add Post{{/navLink}}
    </nav>
    </header>
{{{body}}}
</body>
</html>