<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" type="text/css" href="https://rich-pink-termite-wear.cyclic.app/css/main.css">
    <title>About</title>
</head>
<body>

   <header>
    <nav>
    <span>WEB322 - Ahmed Alhamrany</span>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/posts">Posts</a>
    <a href="/categories">Categories</a>
    <a href="/posts/add">Add Post</a>
    </nav>
    </header>
    <h2 id="white">About</h2>
    <p id="pleft">Hi there! My name is Ahmed Alhamrany and this is my about me page! I like to play video games and learn how to code.
    I also am currently in Computer Programming & Analysis at Seneca college, and next semester is my co-op term, and I hope
    I can find a placement before then. Currently I am interested in back-end development and in technical IT work, during my time
    at Seneca, these two careers have caught my interest so far. I am currently diamond in valorant, I strive to hit ascendant rank this season while passing all my classes.</p>
    <h2 id="headright">Coming Soon</h2> 
    <p id="textright">future updates coming soon!</p>
</body>
</html>