<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css">
<body>
 
<h1>Add Post</h1><br>
<div class="panel panel-default">
    <div class="panel-body">

<form action="/posts/add" method="POST" enctype="multipart/form-data">

<label for="featureImage">Upload photo:</label><br>
<input id="featureImage" type="file" name="featureImage" required><br><br>

<label for="title">Title:</label><br>
<input id="title" type="text" name="title" required/><br><br>

<label for="body">Body:</label><br>
<textarea id="body" rows="7" cols="50" name="body" required></textarea><br><br>

<label for="category">Category:</label><br>
<select id="category" name="category" required>
<option value="" disabled selected hidden>Options</option>
<option value="1">Technology</option>
<option value="2">Gaming</option>
<option value="3">Fashion</option>
<option value="4">Education</option>
<option value="5">Wellness</option>
</select><br><br>

<label for="body">Published:</label><br>
<input id="published" type="radio" name="published"> Yes<br><br>
<button type="submit" class="btn btn-default">Submit form</button>
        </div>
    </div>
</form>
</body>
</html>