#pleft{
  text-align: left;
  position:fixed;
  max-width: 770px;
  word-wrap:break-word;
  word-break: keep-all;
  color: antiquewhite;
}
  
#headright{ 
    font-size: 30px;
    text-align: right;
    position: relative;
    top: -50px;
    color: antiquewhite;
}

#textright{
  font-size: 25px;
  text-align: right;
  position: relative;
  top: -35px;
  color: antiquewhite;
}

body{
  background-color: black;
}

#white{
  color: antiquewhite;
}

header{  
  background-color: rgb(63, 63, 65);  
  left: 0px;  
  right: 0px;  
  top: 20px;  
  height: 40px;  
  font-size: 20px;
  border-radius: 5px;
  color: azure;
  }  

  #nav-text{
    top: -10px;
  }