#pleft{
  text-align: left;
  position:fixed;
  max-width: 770px;
  word-wrap:break-word;
  word-break: keep-all;
  color: antiquewhite;
}
  
#headright{ 
    font-size: 30px;
    text-align: right;
    position: relative;
    top: -50px;
    color: antiquewhite;
}

#textright{
  font-size: 25px;
  text-align: right;
  position: relative;
  top: -35px;
  color: antiquewhite;
}

#nav{
 font-size: 40px;
}

body{
  background-color: black;
}

#white{
  color: antiquewhite;
}

.top {
  padding: 60px;
  background: #3605bd;
  color: white;
  font-size: 30px;
}